.custom-slide .carousel-item{
    background-color: #feeae9;
    border-radius: 1em;
}
.categories img{
    width: 100px;
}
.custom-card{
    border: 0;
}
.custom-card-footer{
    background-color: white;
    border: 0;
}
.button{
    display: block;
    margin-top: 15px;
}